@media screen and (max-width: 500px) {
  .bins {
    width: 88vw;
  }

  .bin {
    padding: 2vw;
  }
}

@media screen and (min-width: 500px) {
  .bins {
    width: calc(500px * 0.88)
  }

  .bin {
    padding: calc(500px * 0.03)
  }
}

.bins {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
}

.bin {
  width: 50%;
  height: 50%;
}