.tetris {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vh 0;
}

.box {
  border: 1px solid black;
}

@media screen and (max-width: 500px) {
  .box {
    height: 22vw;
    width: 22vw;
  }
}

@media screen and (min-width: 500px) {
  .box {
    height: calc(500px * 0.22);
    width: calc(500px * 0.22);
  }
}

.box-col {
  display: flex;
  flex-direction: column-reverse;
}

.used {
  background-color: yellow;
}