@media screen and (max-width: 500px) {
  .showcase {
    width: 88vw;
  }
}

@media screen and (min-width: 500px) {
  .showcase {
    width: calc(500px * 0.88)
  }
}

.showcase {
  display: flex;
  overflow: scroll;
}

.waste-item {
  flex: 0 0 100px;
  height: 15vh;
  border: 1px solid black;
}

.selected {
  box-shadow: inset 1px 1px 10px 2px #409eff;
}