@media screen and (max-width: 500px) {
  .showcase {
    width: 88vw;
  }
}

@media screen and (min-width: 500px) {
  .showcase {
    width: calc(500px * 0.88)
  }
}

.showcase {
  display: flex;
  overflow-x: scroll;
  box-shadow: inset 6px 0px 20px 0px rgba(50, 50, 50, 0.9);
  box-shadow: inset -6px 0px 20px 0px rgba(50, 50, 50, 0.9);
}

.waste-item {
  flex: 0 0 7rem;
  height: 16vh;
  border-left: 1px solid var(--smd-color-background-dark-layer4);
  border-right: 1px solid var(--smd-color-background-dark-layer4);
  padding: 0 .5rem;
}

.selected {
  border-bottom: .3rem solid var(--adm-color-primary);
}